@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Invalid Login!!</h2>
<h4>You have entered Incorrect Details or Admin not verified You</h4>
<div>
    <a asp-action="Login" asp-controller="DeliveryExecutive">GoBack to login Page</a>
</div>

