@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>No requests available for u !!</h1>
<div>
    <a asp-action="ExecutiveHome" asp-controller="DeliveryExecutive">Back</a>
</div>